---
layout: archive
title: ""
permalink: /
author_profile: true
---

<h1>Biography</h1>
<hr>
<p>I am a third year Ph.D. student in the Computer Science department at the University of Maryland.
I am advised by <a href="https://www.cs.umd.edu/~laxman/">Prof. Laxman Dhulipala</a>.
I received my Bachelor's Degree in Computer Science and Applied Mathematics and Statistics from Stony Brook University in 2023,
where I worked with <a href="https://www3.cs.stonybrook.edu/~bender/">Prof. Michael Bender</a>.
My research interests are broadly in graph algorithms, parallel algorithms, and dynamic algorithms.</p>

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %} -->

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



